<div class="container bs-docs-container">
  <div class="row">
    <div class="col-md-12">
      <div class="bs-docs-section">
        <p>List of all users</p>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>User</th>
              <th>Device</th>
              <th>Last uptime</th>
              <th>Last time was online</th>
            </tr>
          </thead>
          <tbody>
            {{#each online}}
            {{#each devices}}
            <tr>
              {{#unless @index}}
              <td rowspan="{{../../devices.length}}">{{#if ../../name}}{{../../../name}}{{else}}Unknown{{/if}}</td>
              {{/unless}}
              <td>{{title}}</td>
              <td>{{parseSeconds uptime}}</td>
              <td>{{to}}</td>
            </tr>
            {{/each}}
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
